@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .mizu {
    --color-primary: 36 55 70;
    --color-secondary: 183 216 235;
    --color-third: 252 251 246;
  }
  .olivia {
    --color-primary: 241 190 176;
    --color-secondary: 43 43 43;
    --color-third: 242 239 237;
  }

  .bingsu {
    --color-primary: 184 167 170;
    --color-secondary: 72 55 61;
    --color-third: 235 230 234;
  }

  .botanical {
    --color-primary: 123 156 152;
    --color-secondary: 73 87 85;
    --color-third: 235 230 234;
  }
  
  .taro {
    --color-secondary: 179 186 255;
    --color-primary: 111 108 145;
    --color-third: 19 15 26;
  }
  
};

